.bannerContainer {
  background-color: #324d67;
  border-radius: 15px;
  color: white;
  height: 400px;
  margin-top: 120px;
  padding: 100px 40px;
  position: relative;
}

.bannerDescription {
  display: flex ;
  justify-content: space-between;
}

.left h3 {
  font-weight: 900;
  font-size: 44px;
  margin-bottom: 10px;
  margin-top: 0;
}

.bannerButton {
  border-radius: 15px;
  background-color: #fff;
  border: none;
  color: #324d67;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  padding: 10px 16px;
}

.bannerImage {
  right: 0;
  position: absolute;
  top: -20%;
}