.productsHeading {
  color: #324d67;
  margin: 40px 0px;
  text-align: center;
}

.productsHeading h2 {
  font-size: 40px;
  font-weight: 800;
}

.productsHeading p {
  font-size: 16px;
  font-weight: 200;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}